@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --breakpoint-sm: 640px;
  
  --font-family-mono: "IBM Plex Mono", monospace;
}

@layer base {
  #sun-svg,
  html[data-theme="dark"] #moon-svg {
    display: none;
  }
  #moon-svg,
  html[data-theme="dark"] #sun-svg {
    display: block;
  }
  body {
    @apply flex min-h-screen flex-col bg-white dark:bg-slate-900 font-mono text-gray-900 dark:text-gray-100 
    selection:bg-blue-600/70 dark:selection:bg-orange-500/70 selection:text-white dark:selection:text-slate-900;
  }
  section,
  footer {
    @apply mx-auto max-w-3xl px-4;
  }
  a {
    @apply outline-2 outline-offset-1 outline-blue-600 dark:outline-orange-500 
    focus-visible:no-underline focus-visible:outline-dashed;
  }
  svg {
    @apply inline-block h-6 w-6 fill-gray-900 dark:fill-gray-100 group-hover:fill-blue-600 dark:group-hover:fill-orange-500;
  }
  svg.icon-tabler {
    @apply inline-block h-6 w-6 scale-125 fill-transparent 
    stroke-current stroke-2 opacity-90 group-hover:fill-transparent 
    sm:scale-110;
  }
  .prose {
    @apply prose-headings:!mb-3 prose-headings:!text-gray-900 dark:prose-headings:!text-gray-100
    prose-h3:italic prose-p:!text-gray-900 dark:prose-p:!text-gray-100
    prose-a:!text-gray-900 dark:prose-a:!text-gray-100 prose-a:!decoration-dashed prose-a:underline-offset-8
    hover:prose-a:text-blue-600 dark:hover:prose-a:text-orange-500 prose-blockquote:!border-l-blue-600/50 dark:prose-blockquote:!border-l-orange-500/50 prose-blockquote:opacity-80
    prose-figcaption:!text-gray-900 dark:prose-figcaption:!text-gray-100 prose-figcaption:opacity-70
    prose-strong:!text-gray-900 dark:prose-strong:!text-gray-100

    
    prose-code:rounded prose-code:bg-gray-200/75 dark:prose-code:bg-slate-700/75 prose-code:p-1 prose-code:!text-gray-900 dark:prose-code:!text-gray-100
    prose-code:before:!content-[''] prose-code:after:!content-['']
    prose-pre:!text-gray-900 dark:prose-pre:!text-gray-100 prose-ol:!text-gray-900 dark:prose-ol:!text-gray-100
    prose-ul:overflow-x-clip prose-ul:!text-gray-900 dark:prose-ul:!text-gray-100 prose-li:marker:!text-blue-600 dark:prose-li:marker:!text-orange-500
    prose-table:text-gray-900 dark:prose-table:text-gray-100 prose-th:border
    prose-th:border-gray-200 dark:prose-th:border-orange-700 prose-td:border 
    prose-td:border-gray-200 dark:prose-td:border-orange-700 prose-img:mx-auto 
    prose-img:!mt-2 prose-img:border-2 
    prose-img:border-gray-200 dark:prose-img:border-orange-700 prose-hr:!border-gray-200 dark:prose-hr:!border-orange-700;
  }
  .prose a {
    @apply hover:!text-blue-600 dark:hover:!text-orange-500;
  }
  .prose thead th:first-child,
  tbody td:first-child,
  tfoot td:first-child {
    padding-left: 0.5714286em;
  }
  .prose h2#table-of-contents {
    @apply mb-2;
  }
  .prose details {
    @apply inline-block cursor-pointer select-none text-gray-900 dark:text-gray-100;
  }
  .prose summary {
    @apply outline-2 outline-offset-1 outline-blue-600 dark:outline-orange-500 focus-visible:no-underline focus-visible:outline-dashed;
  }
  .prose h2#table-of-contents + p {
    @apply hidden;
  }

  /* ===== scrollbar ===== */
  html {
    overflow-y: scroll;
  }

  /* width */
  ::-webkit-scrollbar {
    @apply w-3;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-white dark:bg-slate-900;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-gray-200 dark:bg-slate-700;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-300 dark:bg-orange-900;
  }
}

@layer components {
  .display-none {
    @apply hidden;
  }
  .focus-outline {
    @apply outline-2 outline-offset-1 outline-blue-600 dark:outline-orange-500 focus-visible:no-underline focus-visible:outline-dashed;
  }
}
